<html>
   <%- include('./partials/header') %>
   
  <body style="background-color: #F7F4EA;">
     <div class="navbar" style=" margin: 25px;">
      
      <%- include('./partials/navigation') %>

    <h1 style="color:#80A1D4; margin-top: 50px; margin-left: 100px;"><%= heading; %></h1>

    <div class="row" style="text-align: center;">
      <div class="col s6 m6" style="display: inline-block; margin-left: 25%; margin-right:25%; width: 50%;" >
        <br><br>
        
        <input style="text-align: center;" disabled="disabled" type="text" id="fname" name="fname" value= "<%= animl%>"><br><br>
        <button onClick="window.location.reload();" name="generate" type="button" class="btn" style="background:#89b8e4; border:4px solid #b4a7d6; border-radius: 1000px;color:#ffffff;text-align:center;padding: 20px 40px 60px 40px;">
          ~Click to Generate an Animal~</button>
      </div>
    </div>


    <%- include('./partials/footer') %>
    
  </body>
</html>