<html>
   
   <%- include('./partials/header') %>

  <body style="background-color: #F7F4EA;">
   <div style=" margin: 15px;">

        <%- include('./partials/navigation') %>
<br><br>
   <center>
   <div class="container">
      <div class="row" >
         <ul>
            <li style="display: inline-block; vertical-align: middle;">
               <img style="width:270px;height:190px;" src="https://previews.dropbox.com/p/thumb/ABHUfboqVK3SEy6TlkfNVw5-yHBT38gq5K4D_777IDSG476oEA-7Jm8SbsK99IRUb0xrtm25HCVodtzGAsc5Gjn9LZYLXXGEmRj5JmxMMviGAh2mV0nxbRlOjWGHTnJVHBocO3HGt6dEscVK-UiDJLOlnW-5IDd9bIjiEHb6mWSy7lGMxeZ_MWBdRvp6SNGAXkBP9hpGGZX1ThurnENOghgIbhNXbJTD99efSU6k5kAQ1pFUdQsphHEp3JNFWDixK_3mQbcZqFMqvlbPNRJkubuMZALKDIUzZrAZoVA4Y5Wy1DwZUhP9EgV4n_dz7unFlqY4WMv5WgBXJ2-ZnzVIeWkCqxGoE8iutZgisKmKadbLbw/p.png?fv_content=true&size_mode=5">
            </li>

            <li style="display: inline-block; vertical-align: middle;">
               <h5><%= weather[0]['location']['name']%></h5>
               <h5><%= weather[0]['location']['long']%> N</h5>
               <h5><%= weather[0]['location']['lat']%> E</h5> <br>
            </li>
         </ul>
      </div>
   
</div>
</center>

   <%- include('./partials/footer') %>

  </body>
</html>